@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: black;
  color: #354358;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #00f260, #0575e6);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}